[Desktop Entry]
Name=VSCodium
Comment=ree/Libre Open Source Software Binaries of VSCode.
GenericName=Text Editor
Exec=code --unity-launch %F
Icon=vscodium
Type=Application
StartupNotify=true
StartupWMClass=VSCodium
Categories=Utility;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=code --new-window %F
Icon=vscodium
